body{
    padding: 0;
    margin:0;
    background-color: black;
    opacity: 0.6;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: relative; */
}
.clock_container{
    font-size:90px;
    font-family: monospace;
    color: rgb(163, 134, 6);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}